name: PR on open greeting

on:
  issues:
    types: [opened]

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print hello world
        run: echo "Hello world, the PR was opened!"
    
